<a href="https://colab.research.google.com/github/anhtran123-max/practice_python/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Tạo một Seriesbằng cách chuyển một danh sách các giá trị, cho phép gấu trúc tạo một chỉ mục số nguyên mặc định:

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Tạo một DataFrame bằng cách truyền một mảng NumPy, với chỉ mục ngày giờ và các cột được gắn nhãn:

In [4]:
dates = pd.date_range("20130101", periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [7]:
df

                   A         B         C         D
2013-01-01  0.795885 -0.178694  0.039525  0.946667
2013-01-02 -1.404551 -0.800182  0.275879  1.254816
2013-01-03  0.011976  1.520518  0.375850  2.592356
2013-01-04  1.577810  0.549034 -0.730952  0.674977
2013-01-05  1.866896 -0.154889 -0.920441  0.867313
2013-01-06 -0.034273  0.737817 -1.364083 -0.840234

Tạo một DataFrame bằng cách chuyển một mệnh lệnh của các đối tượng có thể được chuyển đổi thành dạng chuỗi.

In [8]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Các cột của kết quả DataFrame có các kiểu khác nhau

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Nếu bạn đang sử dụng IPython, tính năng hoàn thành tab cho tên cột (cũng như các thuộc tính công khai) sẽ tự động được bật. Đây là một tập hợp con của các thuộc tính sẽ được hoàn thành:

In [ ]:
df2.<TAB>  # noqa: E225, E999
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.columns
df2.align              df2.copy
df2.all                df2.count
df2.any                df2.combine
df2.append             df2.D
df2.apply              df2.describe
df2.applymap           df2.diff
df2.B                  df2.duplicated

ANhư bạn có thể thấy , Bcác cột Cvà Dtab tự động được hoàn thành. Evà Fở đó nữa; phần còn lại của các thuộc tính đã được cắt bớt cho ngắn gọn.

# Xem dữ liệu

### Đây là cách xem các hàng trên cùng và dưới cùng của khung:

In [12]:
df.head()

                   A         B         C         D
2013-01-01  0.795885 -0.178694  0.039525  0.946667
2013-01-02 -1.404551 -0.800182  0.275879  1.254816
2013-01-03  0.011976  1.520518  0.375850  2.592356
2013-01-04  1.577810  0.549034 -0.730952  0.674977
2013-01-05  1.866896 -0.154889 -0.920441  0.867313

In [13]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.577810  0.549034 -0.730952  0.674977
2013-01-05  1.866896 -0.154889 -0.920441  0.867313
2013-01-06 -0.034273  0.737817 -1.364083 -0.840234

In [14]:
df.tail(4)

                   A         B         C         D
2013-01-03  0.011976  1.520518  0.375850  2.592356
2013-01-04  1.577810  0.549034 -0.730952  0.674977
2013-01-05  1.866896 -0.154889 -0.920441  0.867313
2013-01-06 -0.034273  0.737817 -1.364083 -0.840234

In [15]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.to_numpy(
)

array([[ 0.79588544, -0.17869428,  0.03952527,  0.94666734],
       [-1.40455149, -0.80018236,  0.27587933,  1.25481591],
       [ 0.01197633,  1.52051807,  0.37585012,  2.59235649],
       [ 1.57780953,  0.5490338 , -0.73095185,  0.67497698],
       [ 1.86689585, -0.15488922, -0.92044098,  0.86731288],
       [-0.03427287,  0.73781719, -1.36408301, -0.84023412]])

In [19]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

describe() hiển thị tóm tắt thống kê nhanh về dữ liệu của bạn:

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.468957  0.278934 -0.387370  0.915983
std    1.205220  0.823065  0.715657  1.101883
min   -1.404551 -0.800182 -1.364083 -0.840234
25%   -0.022711 -0.172743 -0.873069  0.723061
50%    0.403931  0.197072 -0.345713  0.906990
75%    1.382329  0.690621  0.216791  1.177779
max    1.866896  1.520518  0.375850  2.592356

In [21]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

Chuyển dữ liệu của bạn:

In [22]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.795885   -1.404551    0.011976    1.577810    1.866896   -0.034273
B   -0.178694   -0.800182    1.520518    0.549034   -0.154889    0.737817
C    0.039525    0.275879    0.375850   -0.730952   -0.920441   -1.364083
D    0.946667    1.254816    2.592356    0.674977    0.867313   -0.840234

Sắp xếp theo trục:

In [23]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.946667  0.039525 -0.178694  0.795885
2013-01-02  1.254816  0.275879 -0.800182 -1.404551
2013-01-03  2.592356  0.375850  1.520518  0.011976
2013-01-04  0.674977 -0.730952  0.549034  1.577810
2013-01-05  0.867313 -0.920441 -0.154889  1.866896
2013-01-06 -0.840234 -1.364083  0.737817 -0.034273

Sắp xếp theo giá trị:

In [24]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02 -1.404551 -0.800182  0.275879  1.254816
2013-01-01  0.795885 -0.178694  0.039525  0.946667
2013-01-05  1.866896 -0.154889 -0.920441  0.867313
2013-01-04  1.577810  0.549034 -0.730952  0.674977
2013-01-06 -0.034273  0.737817 -1.364083 -0.840234
2013-01-03  0.011976  1.520518  0.375850  2.592356

Việc chọn một cột duy nhất, mang lại a Series, tương đương với df.A:

In [25]:
df["A"]

2013-01-01    0.795885
2013-01-02   -1.404551
2013-01-03    0.011976
2013-01-04    1.577810
2013-01-05    1.866896
2013-01-06   -0.034273
Freq: D, Name: A, dtype: float64

Chọn thông qua [ ], cắt các hàng.

In [26]:
df[0:3]

                   A         B         C         D
2013-01-01  0.795885 -0.178694  0.039525  0.946667
2013-01-02 -1.404551 -0.800182  0.275879  1.254816
2013-01-03  0.011976  1.520518  0.375850  2.592356

In [27]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02 -1.404551 -0.800182  0.275879  1.254816
2013-01-03  0.011976  1.520518  0.375850  2.592356
2013-01-04  1.577810  0.549034 -0.730952  0.674977

# Lựa chọn theo nhãn

Để có được một mặt cắt ngang bằng cách sử dụng một nhãn:

In [28]:
df.loc[dates[0]]

A    0.795885
B   -0.178694
C    0.039525
D    0.946667
Name: 2013-01-01 00:00:00, dtype: float64

Chọn trên nhiều trục theo nhãn:

In [29]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01  0.795885 -0.178694
2013-01-02 -1.404551 -0.800182
2013-01-03  0.011976  1.520518
2013-01-04  1.577810  0.549034
2013-01-05  1.866896 -0.154889
2013-01-06 -0.034273  0.737817

Hiển thị cắt nhãn, cả hai điểm cuối đều được bao gồm :

In [30]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02 -1.404551 -0.800182
2013-01-03  0.011976  1.520518
2013-01-04  1.577810  0.549034

Giảm kích thước của đối tượng trả về:

In [31]:
df.loc["20130102", ["A", "B"]]

A   -1.404551
B   -0.800182
Name: 2013-01-02 00:00:00, dtype: float64

Để nhận một giá trị vô hướng:

In [32]:
df.loc[dates[0], "A"]

0.7958854434918143

Để truy cập nhanh vào một phương pháp vô hướng (tương đương với phương pháp trước đó):

In [33]:
df.at[dates[0], "A"]

0.7958854434918143

# Lựa chọn theo vị trí

Chọn qua vị trí của các số nguyên đã chuyển:

In [34]:
df.iloc[3]

A    1.577810
B    0.549034
C   -0.730952
D    0.674977
Name: 2013-01-04 00:00:00, dtype: float64

Theo các lát số nguyên, hoạt động tương tự như NumPy / Python:

In [35]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  1.577810  0.549034
2013-01-05  1.866896 -0.154889

Theo danh sách các vị trí vị trí số nguyên, tương tự như kiểu NumPy / Python:

In [36]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02 -1.404551  0.275879
2013-01-03  0.011976  0.375850
2013-01-05  1.866896 -0.920441

Để cắt các hàng một cách rõ ràng:

In [37]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02 -1.404551 -0.800182  0.275879  1.254816
2013-01-03  0.011976  1.520518  0.375850  2.592356

Để cắt các cột một cách rõ ràng:

In [38]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -0.178694  0.039525
2013-01-02 -0.800182  0.275879
2013-01-03  1.520518  0.375850
2013-01-04  0.549034 -0.730952
2013-01-05 -0.154889 -0.920441
2013-01-06  0.737817 -1.364083

Để nhận giá trị một cách rõ ràng:

In [39]:
df.iloc[1, 1]

-0.8001823638134697

Để truy cập nhanh vào một phương pháp vô hướng (tương đương với phương pháp trước đó):

In [40]:
df.iat[1, 1]

-0.8001823638134697