<a href="https://colab.research.google.com/github/anhtran123-max/Learn_python/blob/master/RadiusNeighborsClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

In [2]:
%cd /content/drive/MyDrive/Dataset/Tabulate

/content/drive/.shortcut-targets-by-id/19WB1Ohri0T4iAv3l5rvluYoFBaNzInRN/Dataset/Tabulate

In [3]:
import pandas as pd
import warnings
from sklearn.model_selection import train_test_split
from sklearn.neighbors import RadiusNeighborsClassifier
import matplotlib.pyplot as plt

import pandas_profiling
from sklearn.metrics import confusion_matrix, accuracy_score
warnings.filterwarnings("ignore")

data_frame = pd.read_csv("housing.csv")

In [4]:
data_frame = data_frame.dropna(axis=1)
data_frame

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
y = data_frame.median_house_value	
x = data_frame.drop(["longitude","latitude","median_house_value","ocean_proximity"],axis=1)

In [6]:
x

       housing_median_age  total_rooms  population  households  median_income
0                    41.0        880.0       322.0       126.0         8.3252
1                    21.0       7099.0      2401.0      1138.0         8.3014
2                    52.0       1467.0       496.0       177.0         7.2574
3                    52.0       1274.0       558.0       219.0         5.6431
4                    52.0       1627.0       565.0       259.0         3.8462
...                   ...          ...         ...         ...            ...
20635                25.0       1665.0       845.0       330.0         1.5603
20636                18.0        697.0       356.0       114.0         2.5568
20637                17.0       2254.0      1007.0       433.0         1.7000
20638                18.0       1860.0       741.0       349.0         1.8672
20639                16.0       2785.0      1387.0       530.0         2.3886

[20640 rows x 5 columns]

In [7]:
# Set Variable To predict
predict =data_frame.median_house_value	
# Set feature which is a component to make platform to predict
data_feature = ['housing_median_age','total_rooms','population','households','median_income']
x = data_frame[data_feature]

In [8]:
print(x.describe())
print(x.head())
print(x.value_counts())
print(x)

       housing_median_age   total_rooms    population    households  \
count        20640.000000  20640.000000  20640.000000  20640.000000
mean            28.639486   2635.763081   1425.476744    499.539680
std             12.585558   2181.615252   1132.462122    382.329753
min              1.000000      2.000000      3.000000      1.000000
25%             18.000000   1447.750000    787.000000    280.000000
50%             29.000000   2127.000000   1166.000000    409.000000
75%             37.000000   3148.000000   1725.000000    605.000000
max             52.000000  39320.000000  35682.000000   6082.000000

       median_income
count   20640.000000
mean        3.870671
std         1.899822
min         0.499900
25%         2.563400
50%         3.534800
75%         4.743250
max        15.000100
   housing_median_age  total_rooms  population  households  median_income
0                41.0        880.0       322.0       126.0         8.3252
1                21.0       7099.0      2401.0      1138.0         8.3014
2                52.0       1467.0       496.0       177.0         7.2574
3                52.0       1274.0       558.0       219.0         5.6431
4                52.0       1627.0       565.0       259.0         3.8462
housing_median_age  total_rooms  population  households  median_income
1.0                 6.0          8.0         2.0         1.6250           1
35.0                1583.0       1481.0      351.0       3.7000           1
                    1541.0       791.0       277.0       4.4250           1
                    1535.0       816.0       287.0       6.1873           1
                    1529.0       688.0       256.0       4.1083           1
                                                                         ..
22.0                2272.0       933.0       305.0       8.8204           1
                    2265.0       1684.0      561.0       2.6729           1
                    2264.0       1056.0      403.0       3.6111           1
                    2263.0       1395.0      416.0       3.7250           1
52.0                6186.0       2065.0      1374.0      5.8543           1
Length: 20640, dtype: int64
       housing_median_age  total_rooms  population  households  median_income
0                    41.0        880.0       322.0       126.0         8.3252
1                    21.0       7099.0      2401.0      1138.0         8.3014
2                    52.0       1467.0       496.0       177.0         7.2574
3                    52.0       1274.0       558.0       219.0         5.6431
4                    52.0       1627.0       565.0       259.0         3.8462
...                   ...          ...         ...         ...            ...
20635                25.0       1665.0       845.0       330.0         1.5603
20636                18.0        697.0       356.0       114.0         2.5568
20637                17.0       2254.0      1007.0       433.0         1.7000
20638                18.0       1860.0       741.0       349.0         1.8672
20639                16.0       2785.0      1387.0       530.0         2.3886

[20640 rows x 5 columns]

In [9]:
data_model = RadiusNeighborsClassifier()

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x , y , test_size= 0.2 , random_state= 42)

pred_train = data_model.fit(x_train ,y_train)
true_train = pred_train.predict(x_train)
# Check probality on Train data
print("Accuracy on train data: ", accuracy_score(true_train , y_train))

Accuracy on train data:  1.0